* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: ghostwhite;
  font-family: system-ui;
}

nav {
  position: sticky;
  top : 0px;
  background-color: hsl(0, 2%, 63%);
  height: 40px;
  padding-left: 1.3em;
  width : 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;  
  gap : 2em;
}

main {
  height: auto;
  width: 100%;
  background-color: white;
  font-family: system-ui;
  display: flex;
  padding-left: 5rem;
  padding-top: 1.3rem;
  gap : 5rem;
}

main > article {
  width: 80%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap :1.3rem;
}

main > aside {
  width: 20%;
  height: auto;
  background-color: hsl(54 8% 96% / 1);
  text-align: left;
  padding-left: 1.3rem;
}

aside > ul > li > a {
  text-decoration: none;
  color: #999;
  font-weight: 200;
  padding: 1.4em 0em;
}

main > article > header {
  width: 100%;
  height: auto;
}

header > p {
  font-style: italic;
  font-size: 16px;
}

section > p {
  padding: 0.5em 0;
}

img {
  width:100%;
  height: auto;
}

main > article > section > figure > figcaption {
  position: relative;
  top: -4px;
  height: 1.5em;
  text-align: center;
  background-color: #333;
  color: whitesmoke;
}

main > article > section > details {
  padding-top: 1.3em;
  font-size: 20px;
}

details > summary {
  font-size: 16px;;
}

section > h3 {
  font-size: 30px;
}

article > footer > address > a {
  color: #444;
}

body > footer {
  padding: 1.3em 0;
  text-align: center;
  background-color: #888;
  color: ghostwhite;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
  font-weight: 700;

}

p {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.9 em;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 500;
  font-size: 20px;
}